:root {
  --gold: #D4AF37;
  --dark-green: #475D4C;
  --bg-cream: #f9f5f2;
  --off-white: #FAF3E0;
  --deep-black: #1C1C1C;
  --new-green: #3e4c07;
  --new-ecru: #FFFAC8;
  --ivoire: #f8f4f1;
  --brun: #8c6532;

}

h1,
h2,
h3,
h4,
p,
a,
.titre-script {
  font-family: 'Cormorant Garamond', serif !important;
  /* font-family: 'Petit Formal Script', cursive!important ; */
}



html,
body {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: block;
}

.page {
  background-color: var(--bg-cream);
}


.navbar {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  margin-right: 20px;
  background-color: var(--ivoire);
  /* background-color: transparent; */
  padding: 7px;
  border: 2px solid var(--ivoire);
  border-radius: 5px;
}

.burger-menu span {
  width: 32px;
  height: 4px;
  background: var(--new-green);
  transition: 0.3s ease;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 40px;
  background: transparent;
  background-color: var(--ivoire);
  width: 160px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-links li {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 22px;
  color: #333;
  color: var(--ivoire);
  color: var(--brun);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links.active {
  display: flex;
  transform: translateX(0);
  opacity: 0.9;
}

.logo img {
  height: 120px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.home {
  margin-top: 0;
  overflow-y: auto;
}

.page.home {
  overflow-y: auto;

}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  background-color: transparent;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transition: opacity 0.5s ease-out;
  box-sizing: border-box;
}

.page.active {
  display: block;
  opacity: 1;
}

.hero {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  background: url(./assets/Logo/fonddaccueil7.webp)no-repeat center center;
  background-size: cover;
  gap: 300px;
}

.hero-first {
  width: 100%;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 100px;

}

.hero-title {
  font-weight: 100;
  font-size: 7rem;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  text-align: start;
  color: var(--ivoire);
  text-shadow: 1px 1px 1px var(--deep-black);
  padding-left: 50px;
  margin-top: 20px;
}


.hero-title span {
  display: inline-block;
}

.hero-subtitle {
  font-size: 4rem;
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  color: var(--new-green);
  text-shadow: 1px 2px 1px var(--off-white);
  margin-top: 20px;
  padding-left: 200px;
  opacity: 0.9;
  gap: 10px;
}

.hero-description {
  font-size: 3.5rem;
  font-weight: 100;
  color: var(--ivoire);
  text-shadow: 1px 1px 1px var(--deep-black);
  width: 100%;
  text-align: end;
  padding-right: 50px;
  padding-top: 0px;

  bottom: 0;
}

.hero-description span {
  display: inline-block;
}

.hero,
.categories-content {
  /* min-height: 100vh;
  display: flex;
  justify-content: center; */
  align-items: center;
  margin: 0;
}

#categories-section {
  background-color: var(--ivoire);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 110vh;
  padding: 20px;
  box-sizing: border-box;
  /* padding-bottom: 150px; */
}

.categories-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  background-color: transparent;
  padding: 20px;
  padding-bottom: 0px;
  margin: 20px;
}

.categories-text p {
  font-size: 1.8rem;
  color: var(--new-green);
  line-height: 1.6;
  margin: 10px 0;
  padding: 10px 0;
  background-color: transparent;
  min-width: 100%;
  overflow: hidden;
  text-align: justify;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  max-width: 90%;
}

.portrait h1 {
  font-weight: 100;
  font-style: italic;
  font-size: 4rem;
  color: #333;
  color: var(--dark-green);
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 20px;
  display: inline-block;
  padding-top: 10%;
}

.portrait h2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #555;
  color: var(--dark-green);
  text-align: center;
}

.navigation-links {
  position: absolute;
  top: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.nav-link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--dark-green);
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.8;
  position: absolute;
  top: 0;

}

.nav-link:hover {
  color: var(--dark-green);
  opacity: 1;

}

.left {
  position: fixed;
  left: 2%;
  top: 22%;
  text-align: left;
}

.right {
  position: fixed;
  right: 2%;
  top: 22%;
  text-align: right;
}

.category {
  flex: 1;
  width: 400px;
  height: 450px;
  background-color: var(--brun);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;

}

.category:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.category img {
  width: 100%;
  height: 82%;
  border: 1px solid var(--ivoire);
  display: block;
}

.category h2 {
  font-size: 2rem;
  font-weight: 100;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ivoire);
  text-transform: uppercase;
  margin: 0;
}

.page-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-cream);
  padding-top: 100px;
  padding-bottom: 100px;
  top: 0;
}

.page-header h2 {
  font-size: 4.5rem;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif !important;
  color: var(--new-green);
  opacity: 0.7;
  margin-top: 20px;
  text-align: center;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-top: 35vh;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;


}

.project-item {
  position: relative;
  display: flex;
  width: 350px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  background-color: var(--brun);
}



.project-image {
  width: 100%;
  height: auto;
  max-width: 350px;
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
  border: 1px solid white;
}


.project-title {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
  color: var(--ivoire);
  font-weight: 100;
  font-style: italic;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.project-item:hover {
  transform: scale(1.05);

}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brun);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal.inactive {
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  background-color: var(--ivoire);
  padding: 20px;
  max-width: 75%;
  min-width: 75%;
  max-height: 90%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.modal-content {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

}

.modal-content::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;

}

.photo-principale {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.photo-principale img {
  display: block;
  min-width: 70%;
  min-height: 60vh;
  margin: 50px auto;
  object-fit: cover;
  border: 1px solid var(--brun);
}

.photo-principale h3 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  color: var(--dark-green);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--gold);
  color: var(--bg-cream);
  color: var(--ivoire);
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 1001;
}

.close-modal:hover {
  scale: 1.2;
}

.details {
  display: flex;
  width: 94%;
  gap: 4%;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.details :hover {
  cursor: pointer;
}

.details img {
  min-width: 50%;
  max-height: 50vh;
  object-fit: cover;
  border: 1px solid var(--brun);
}

.details-text {
  flex: 1;
  color: var(--dark-green);
  text-align: center;
  max-width: 46%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  word-wrap: break-word;

}


.details-text h3 {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.details-text p {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: justify;

}

.galerie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  margin: 2%;
  padding-bottom: 120px;

}

/* .galerie-grid img {
  min-width: 100%;
  margin: auto;
  height: auto;
  max-height: 40vh;
  min-height: 40vh;
  object-fit: cover;
  border: 1px solid var(--brun);
  transition: transform 0.3s ease;
} */
.galerie-grid img {
  min-width: 100%;
  margin: auto;
  height: 40vh;
  /* fixe proprement */
  object-fit: cover;
  border: 1px solid var(--brun);
  transition: transform 0.3s ease;
}



.galerie-grid img:hover {
  cursor: pointer;
}

.modal-section .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;

}

.modal-section.carousel,

.carousel-wrapper {
  position: relative;
  width: 95%;
  margin: 20px auto;
  padding: 20px;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}

.carousel {
  display: flex;
  gap: 10px;
  gap: 5px;
  transition: transform 0.3s ease;
}

.carousel-image-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.carousel-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  background: var(--dark-green);
  background: var(--brun);
  color: white;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.carousel-image-container:hover .carousel-title {
  opacity: 0.8;
}

.carousel img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var(--dark-green);
  color: var(--brun);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.7;
}

.carousel-button.prev {
  left: -45px;
}

.carousel-button.next {
  right: -45px;
}

.carousel-button:hover {
  transform: translateY(-50%) scale(1.2);
  opacity: 1;
}

.carousel-button:focus {
  outline: none;
  opacity: 1;
}

.modal-grande {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brun);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-grande.active {
  display: flex;
}

.modal-grande.inactive {
  display: none;
}

.modal-grande-content {
  position: relative;
  background: var(--ivoire);
  padding: 20px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

.close-grande-image {
  position: absolute;
  top: -50px;
  right: -120px;
  background: transparent;
  color: var(--ivoire) !important;
  border: none;
  font-size: 3rem !important;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 1000;
}

.close-grande-image:hover {
  transform: scale(1.3);
}

.slider-grande-image-container {
  border: 3px solid var(--brun);
  max-width: 800px;
  height: 80%;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.slider-grande-image {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider-grande-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;

}

.slider-grande-image-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  color: var(--new-green);
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  z-index: 10;
  font-size: 4rem;
  border-radius: 50%;
  transition: 0.3s ease;
}

.slider-grande-image-button.prev {
  left: 5%;
}

.slider-grande-image-button.next {
  right: 5%;
}

.slider-grande-image-button::before {
  content: "";
  font-weight: bold;
}

.slider-grande-image-button.next::before {
  content: "";
}

.slider-grande-image-button:hover {
  transform: translateY(-50%) scale(1.3);
}

.contact,
.portrait {
  padding-top: 120px;
  font-family: 'Cormorant Garamond', serif !important;

}

.contact h2,
.portrait h2 {
  font-size: 3rem;
  font-weight: 100;
  font-style: italic;
  color: var(--new-green);

}


.contact-main {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.contact-info {
  width: 50%;
}

.contact-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;

}

.contact-image-large {
  background-color: var(--brun);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
  opacity: 0.9;
}

.contact-image img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--ivoire);
}

.contact-info {
  display: flex;
  flex-direction: column;

}

.contact-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8rem;
  /* height: 100%; */


}

.contact-info-content p,
.contact-legal {
  color: var(--dark-green);
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.contact-info-item {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.footer-icons {
  padding: 20px;
}

.mentions-legales {
  text-align: left;
}

.mentions-legales-content h3 {
  font-size: 1.2rem;

}


.mentions-legales-content {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
  color: var(--new-green);
  background-color: var(--ivoire);

}

.page.portrait {
  width: 100%;
  margin: auto;
}

.portrait h2,
.contact h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 80px;
}

.portrait h4 {}

.portrait-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  margin-left: 18%;
  margin-right: 18%;
}

.portrait-image-large {
  flex: 1;
  max-width: 320px;
  background-color: var(--brun);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.portrait-image-large img {
  width: 100%;
  max-width: 320px;
  height: 320px;
  object-fit: cover;
  border: 1px solid var(--ivoire);
}

.portrait h3 {
  font-size: 3.2rem;
  font-weight: 200;
  padding-bottom: 20px;
  text-align: justify;
}

.portrait h4 {
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 20px;
  margin-top: 80px;
  text-align: center;
  color: var(--new-green);
  font-weight: 800;
  font-style: italic;
}

.portrait-text {
  flex: 1;
  max-width: 100%;

}

.portrait-text,
.portrait-text-suite {
  font-size: 1.8rem;
  color: var(--new-green);
  text-align: justify;
}

.portrait-content {
  margin-left: 18%;
  margin-right: 18%;
}

.portrait-text-formations {
  margin-bottom: 80px;
  font-size: 2rem;
  text-align: justify;
  color: var(--new-green);
}

.portrait-text-formations p {
  font-size: 1.5rem;
  line-height: 1.2;
}

.portrait-text-formations h3 {
  font-size: 1.8rem;
  color: var(--dark-green);
  line-height: 1.2;
  margin-top: 80px;
  margin-bottom: 100px;
  font-weight: 200;
}

.page.inactive {
  display: none !important;
  height: 0 !important;
  overflow: hidden;
}

footer {
  background-color: var(--ivoire);
  font-size: 1.5rem;
  color: var(--new-green);
  padding: 20px 0;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif !important;
  padding: 20px 5%;

}

.footer-info,
.footer-middle {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-info {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;

}

.footer-icons {
  display: flex;
  gap: 30px;
}

.footer-icons a {
  font-size: 24px;
  color: black;
  color: var(--dark-green);
  color: var(--new-green);
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
  transform: scale(1.2);
}


/*----------------------- Responsive---------------------------- */

@media (max-width: 1440px) {
  .hero-first {
    width: 100%;
  }

  .hero-title {
    font-size: 7rem;
  }

  .hero-subtitle {
    margin-top: 0;
  }

  .hero-description {
    margin-top: 100px;

  }
}


@media (max-width: 1024px) {
  .navbar {
    height: 90px;
    padding: 0 15px;
  }

  .logo img {
    height: 60px;
  }

  main {
    /* height: calc(100vh - 90px); */
    height: auto;
  }

  .category {
    flex: 1;
    width: 300px;
    height: 320px;
  }

  .category img {
    border: 1px solid white;

  }

  .category h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .hero {
    gap: 300px;
  }

  .hero-first {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    margin-bottom: 100px;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-subtitle {
    font-size: 3rem;
    text-align: left;
    padding-left: 50px;
  }

  .hero-description {
    font-size: 2.6rem;
  }

  .hero h4 {
    font-size: 2rem;
  }

  .categories {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 90%;
    height: 50vh;
  }

  .project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .project-item {
    position: relative;
    width: 250px;
    height: 320px;
    padding: 15px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .project-image {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    border: 1px solid white;
    object-fit: cover;
  }

  .project-title {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: auto;
    height: auto;
  }

  .page-header h2 {
    font-size: 2.8rem;
    color: #333;
    color: var(--dark-green);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .page-header h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #555;
    color: var(--dark-green);
    text-align: center;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
    padding: 0 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .photo-principale img {
    display: block;
    width: 80%;
    min-height: 65vh;
    margin: 30px auto;
    object-fit: cover;
  }

  .details-text h3 {
    font-weight: 200;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .details-text p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
  }

  .modal-content {
    min-width: 85%
  }

  .modal-section h3 {
    font-size: 2.6rem;
  }

  .carousel-image-container {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    cursor: pointer;
  }

  .close-grande-image {
    position: absolute;
    top: -40px;
    right: -80px;
    background: transparent;
    color: var(--bg-cream);
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
  }

  .slider-grande-image-button.prev {
    left: 0;
  }

  .slider-grande-image-button.next {
    right: 0;
  }

  .carousel-button.next {
    margin-right: 10px;
  }

  .carousel-button.prev {
    margin-left: 10px;
  }

  .portrait h3,
  .contact h3 {
    font-size: 2rem;
  }

  .mentions-legales h3 {
    font-size: 1.2rem;
  }

  .portrait h4 {
    font-size: 1.4rem;

    padding-bottom: 20px;
    margin-top: 60px;
  }

  .portrait-text,
  .portrait-text-suite {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.2;
  }

  .portrait-text-formations p {
    font-size: 1.2rem;
  }

  .portrait-text-formations h3 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 80px;
    font-weight: 400;
  }

  .contact-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
  }

  .contact-info-item {
    font-size: 1.3rem;
  }

  .contact-legal {
    font-size: 01rem;
  }

  .footer-info {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
  }

  .nav-links a {
    font-size: 16px;
    padding: 8px 12px;
  }

  .burger-menu span {
    width: 22px;
    height: 2px;
    background: var(--new-green);
    transition: 0.3s ease;
  }


  .hero {
    max-height: 100vh;
    gap: 300px;
  }

  .hero-first {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 100px;
  }

  .hero-description {
    margin-top: 0px;
    padding-bottom: 0px;
  }

  .hero-title {
    font-size: 3.2rem;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0;
    padding-top: 50px;
  }

  .hero-title span {
    display: block;
    gap: 0;
  }

  .hero-subtitle {
    font-size: 2.5rem;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 0px;
  }

  .hero-subtitle span {
    display: block;
  }

  .hero-description {
    font-size: 2.2rem;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
  }

  .hero-description span {
    display: block;
  }

  .tiret {
    display: none;
    visibility: hidden;
    height: 0;
  }

  .hero h4 {
    font-size: 2rem;
  }

  .categories-text p {
    font-size: 1.2rem;

  }

  .category {
    flex: 1;
    width: 200px;
    height: 220px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
  }


  .project-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }

  .project-item {
    position: relative;
    width: 180px;
    height: 240px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }

  .project-image {
    max-width: 180px;
    max-height: 180px;
    min-height: 180px;
  }


  .project-title {
    font-size: 1rem;
  }

  .page-header h2 {
    font-size: 2rem;
    color: #333;
    color: var(--dark-green);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .categories {
    height: 40vh;
  }

  .details-text h3 {
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .details-text p {
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
  }

  .galerie-grid {
    grid-template-columns: repeat(2, 1fr);
    /* Deux colonnes pour les tablettes */
  }

  .modal-content {
    min-width: 90%
  }

  .modal-section h3 {
    font-size: 2.2rem;
  }

  .carousel-image-container {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
  }

  .carousel-title {
    font-size: 12px;
  }

  .carousel-button.next {
    margin-right: 10px;
  }

  .carousel-button.prev {
    margin-left: 10px;
  }

  .close-modal {
    right: 1px;
    top: 1px;
    font-size: 20px;
  }

  .close-grande-image {
    position: absolute;
    top: -30px !important;
    right: -60px;
    font-size: 2rem !important;
  }

  .portrait-main {
    display: flex;
    flex-direction: column;
  }

  .portrait-image-large {
    max-height: 400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .portrait-image-large img {
    max-height: 300px;
    width: 300px;
  }

  .portrait-text {
    min-width: 100%;
    margin: auto;
  }

  .portrait-text,
  .portrait-text-suite {
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
  }

  .portrait-text-suite {
    padding-top: 0;
    margin-top: 0;
  }

  .portrait-text-formations {
    padding: 15px;
  }

  .portrait-text-formations p {
    font-size: 1.2rem;
  }

  .portrait-text-formations h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .portrait h4 {
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: 60px;

  }

  .portrait-gallery {
    margin-top: 0;
    margin-bottom: 100px;
    padding: 0;
  }

  .portrait-gallery img {
    width: 200px;
    height: 200px;
  }

  .contact-main {
    display: flex;
    flex-direction: column;
  }

  .contact-main {
    padding-bottom: 0;

  }

  .mentions-legales-content {
    margin-bottom: 100px;
  }

  .contact h2,
  .portrait h2 {
    font-size: 3rem;
  }

  .mentions-legales h3 {
    font-size: 1.2rem;
  }

  .contact-image {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin-bottom: 10vh;
  }

  .contact-photo {
    min-width: 400px;
    max-height: 350px;
  }

  .contact-info-content {
    text-align: center;
    align-items: flex-start;
  }

  .contact-info,
  .contact-legal {
    min-width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  .contact-legal {
    display: flex;
  }

  .contact-legal li {
    margin: 0;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
  }

  .contact-row {
    flex-direction: column;
  }

  .slider-grande-image-container {
    max-width: 80%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-info {
    gap: 10px;
  }

  .footer-icons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

}


@media (max-width: 480px) {
  .galerie-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .portrait h2,
  .contact h2 {
    font-size: 2.6rem;
  }

  .portrait h4 {
    font-size: 1rem;
    padding-bottom: 20px;
    margin-top: 60px;
  }

  .portrait-text {
    text-align: center;
  }

  .portrait-text,
  .portrait-text-suite {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.2;

    padding: 15px;
  }

  .portrait-text-formations p {
    font-size: 1.2rem;
  }

  .portrait h3 {
    font-size: 1rem;
  }

  .modal-grande-content {
    width: 92%;
    height: 80%;
  }

  .slider-grande-image-container {
    border-radius: 0;
  }

  .slider-grande-image-button {
    font-size: 2.5rem;
  }

  .close-grande-image {
    right: 0;
    top: -55px !important;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 50px;
  }

  .hero {
    justify-content: space-between;
  }

  .hero-first {
    margin-left: 0;
    padding-left: 10px;
  }

  .hero-title {
    font-size: 3rem;
    width: 100%;
    margin-top: 0px;
    text-align: start;
  }

  .hero-title {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
  }

  .hero-title span {
    display: block;
  }

  .hero-subtitle {
    flex-direction: column;
    font-size: 2.2rem;
    text-align: left;
  }

  .hero-subtitle span {
    display: block;
  }


  .hero-description {
    font-size: 1.8rem;
  }

  .hero-description {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }

  .hero-description span {
    display: block;
  }

  .nav-links {
    gap: 8px;
  }

  .page-header {
    padding-bottom: 50px;
  }

  .project-gallery {
    margin-top: 150px;
  }

  .page-header h1 {
    font-size: 1.2rem;
    font-weight: 100;
    font-style: italic;
    color: #333;
    color: var(--dark-green);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 0;
  }

  .page-header h2 {
    font-size: 1rem;
    font-weight: 300;
    color: #555;
    color: var(--dark-green);
    text-align: center;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
    padding: 0 20px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0;
  }

  #categories-section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 150px;
    padding-top: 0;
  }

  .categories {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: auto;
    gap: 1px;
  }

  .categories-text {
    padding: 0 0;
  }

  .categories-text p {
    font-size: 18px;
  }

  .category:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .category {
    width: 100%;
  }

  .category img {
    min-width: 260px;
    min-height: 260px;
    max-height: 260px;
  }

  .category h2 {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 1.8rem;
  }

  .project-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .project-title {
    font-size: 0.8rem;
  }


  .modal-section {
    display: flex;
    flex-direction: column;
  }

  .photo-principale img {
    max-width: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 0;
    padding: 0;
    margin: 0;
  }

  .modal-section h3 {
    font-size: 1.8rem;
  }

  .modal-content {
    min-width: 90%
  }

  .details {
    width: 100%;
    margin: 0;
  }

  .details img {
    max-width: 100%;
    max-height: 300px;
    min-height: 0;
  }

  .details-text p {
    font-size: 1.2rem;

  }

  .details-text h3 {
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 10px;

  }

  .details-text p {
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: justify;
  }

  .galerie-grid {
    min-height: 100%;
    margin-bottom: 0px;
    padding-bottom: 300px;
  }

  .galerie-grid img {
    max-width: 100%;
    max-height: 300px;
    min-height: 300px;
    /* margin-bottom: 10px; */
  }

  .nav-link {
    top: 17%;
    font-size: 0.8rem;
  }

  .details {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .details img {
    width: 100%;
  }

  .details-text {
    min-width: 100%;
  }

  .details-text p {
    width: 100%;
    margin: 0;
  }

  .modal-section-carousel {
    width: 100%;
  }

  .carousel-wrapper {
    margin: 0;
    width: 100%;
  }

  .carousel-button {
    font-size: 2.5rem;
    z-index: 1000
  }

  .carousel-button.prev {
    margin-left: 20px;
  }

  .carousel-button.next {
    margin-right: 20px;
  }

  .contact-container {
    max-width: 300px;
  }

  .contact-box {
    width: 300px;
  }

  .contact-photo {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 150px;
    margin: 0;
  }

  .contact-photo img {
    margin: auto;
    max-width: 150px;
    max-height: 200px;
    padding: 0;
    margin: 0;
  }

  .contact-image-large {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .contact-info {
    gap: 0;
  }

  .contact-info-content {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact-legal {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .contact-legal li {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .contact-legal ul {
    padding: 0;
    margin: 0;
  }

  .contact-legal p {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .footer-info {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-info,
  .footer-icons {
    padding: 10px;
  }

  .portrait-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portrait-image-small {

    min-width: 100%;
  }

  .portrait-gallery img {
    padding: 0;
  }

  .portrait-main {
    margin-left: 10%;
    margin-right: 10%;
  }

  .portrait-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  .portrait h3 {
    font-size: 2rem;
  }

  .mentions-legales h3 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {

  .page-header h1 {
    font-size: 1rem;
    margin-top: 0px;
  }

  .prev {
    left: 0;
    padding: 0px;
  }

  .next {
    right: 0;
    padding: 0;
  }

  .categories-content p {
    font-size: 1rem;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .category:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .category {
    width: 100%;

  }

  .category img {
    min-width: 240px;
    min-height: 240px;
    max-height: 240px;
  }

  .category h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.6rem;
  }

  .project-item {
    position: relative;
    width: 150px;
    height: 170px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
  }


  .project-image {
    max-height: 120px;
    min-height: 120px;
  }

  .nav-link {
    top: 17%;
    font-size: 0.7rem;
  }
}